div#header {
	text-align: center;
}
/* div#header table {
	margin: left;
	border: 0;
	width: 25%;
} */

.nav {
	background-color: yellow;
}

.nav li {
	display: inline;
}

.carousel-caption {
	position: static;
}
.carousel-caption h3 {
	color: #000000
}

.carousel-caption p {
	color: #000000
}

#tableLinks {
	margin: left;
	border: 0;
	width: 25%;
	text-align: left;
	padding-left: 50px;
}
div#footer {
	text-align: center;
}

div#header h1 {
	font-family: 'Chewy', cursive, Times;
}
#table2 th {
	font-size: larger;
}

a {
	text-decoration: underline;
	color: blue;
}

a:visited {
	color: red;
}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
}



.table-borderless tbody tr td, .table-borderless tbody tr td, .table-borderless thead tr th, .table-borderless tfoot tr td {
	border: none;
}

/*  #beverages {
	margin-left: auto;
	margin-right: auto;
} */

#BeveragesHeader {
	font-size: x-large;
	text-decoration: underline;
	text-align: center;
}

td.BeverageType {
	font-weight: bold;
	/* text-align: left; */
	margin-left: 100px
}

td.BeveragePrice {
	text-align: left;
}

/* td.BeverageType {
	font-weight: bold;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 75px 
} */

/* td.BeveragePrice {
	padding-top: 5px;
	padding-right: 75px;
	padding-bottom: 5px;
	text-align: left;
} */

tfoot {
	font-style: italic;
	padding-right: 75px
	padding-left: 75px;
}

.btn {
	text-align: left;
}
.tablecontact {
	margin-left: auto;
	margin-right: auto;
	table-layout: initial;
}
